<div class="main">
    <div class="about-us-content">
        <h1 class="title">About Us</h1>
        <img class="logo" src="assets/3.png" alt="CineBlend Logo">
        <h1 class="name">CineBlend</h1>
        <h2 class="tagline2">Blend of Movies</h2>
        <div class="about-us-text">
            <p>
                At CineBlend, we're passionate about movies, your way. We curate personalized movie recommendations 
                just for you, based on your tastes and preferences. With our extensive collection of films, 
                we're here to help you discover your next cinematic gem.
            </p>
            <p>
                Immerse yourself in the world of cinema with our tailored movie suggestions. From thrilling 
                blockbusters to indie darlings, we've got the perfect blend for every movie lover.
            </p>
        </div>

        <h2 class="tagline1">Your Personalized Movie Blend Awaits!</h2>
    </div>
</div>